doctype html
html
  head
    title= title
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/jquery.poptrox.min.js')
    script(src='/javascripts/skel.min.js')
    script(src='/javascripts/init.js')
    link(href='http://fonts.googleapis.com/css?family=Josefin+Sans', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content