doctype html
html
  head
    title= title
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
    script(src='/javascripts/jquery.poptrox.min.js')
    script(src='/javascripts/skel.min.js')
    script(src='/javascripts/init.js')
    link(href='http://fonts.googleapis.com/css?family=Josefin+Sans', rel='stylesheet', type='text/css')
    //link(rel='stylesheet', href='/stylesheets/style-wide.css')
    //link(rel='stylesheet', href='/stylesheets/style-narrow.css')
    //link(rel='stylesheet', href='/stylesheets/style-normal.css')
    //link(rel='stylesheet', href='/stylesheets/style-narrower.css')
    //link(rel='stylesheet', href='/stylesheets/style-mobile.css')
    link(rel='stylesheet', href='/styleshseets/skel-noscript.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content