doctype html
html
  head
    title= title
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
    script(src='/javascripts/jquery.poptrox.min.js')
    script(src='/javascripts/skel.min.js')
    script(src='/javascripts/init.js')
    link(rel='stylesheet', type='text/css', href='/css/skel-noscript.css')
    link(href='http://fonts.googleapis.com/css?family=Gilda+Display', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')



  body
    block content