extends layout 

block content  
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/init.js')
  script(src='/javascripts/skel.min.js')
  script(src='/javascripts/jquery.poptrox.min.js')
  noscript
    link(href='http://fonts.googleapis.com/css?family=Josefin+Sans', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/skel-noscript.css')
    link(rel='stylesheet', href='/css/style.css')    
    link(rel="image_src", href="/images/fulls/OriginalJumping_exp.jpg") 
  //meta(property='og:image', content='/images/fulls/OriginalJumping_exp.jpg')
  //meta(property='og:image:secure_url', content='/images/fulls/OriginalJumping_exp.jpg')


  //
     Header 
  header#header
    //
       Logo 
    h1#logo
      //a.fa.fa-facebook-square.facebookLogo
      img(src="/images/fb_logo.png" height="35%")
      a.programTitle Rotational Product Manager Program
    //
       Nav 
    nav#nav
      ul
        li
          a(href='#intro') Home
        li
          a(href='#about') About
        li
          a(href='#two') Who we are
        li
          a(href='#work') FAQ
        li
          a(href='#contact') Apply
  //
     Intro 
  section#intro.main.style1.dark.fullscreen
    .content.container.small
      header
        h2.firstPage Up for a challenge?
        
      footer
        a.button.style2.down(href='#about') More
  //
     About
  section#about.main.style3.primary
    .content.container(style="width: 65%")
      header
        h2 About the Program
        p
          | The Facebook Rotational Product Manager program trains people excited about technology to become great Product Managers. Facebook RPMs lead three product rotations over twelve months, while receiving guidance from mentors.  At the end of the program, RPMs are equipped to lead cross-functional teams that build high-impact, meaningful products.
            
    .container.small.gallery(style="margin-bottom: 50px;")
      .row.flush.images
        .6u
          a.image.full.l(href='/images/fulls/Japan.jpg')
            img(src='/images/fulls/Japan.jpg', title='Visting Facebook Japan!', alt='')
        .6u
          a.image.full.r(href='/images/fulls/escape_the_room.jpg')
            img(src='/images/fulls/escape_the_room.jpg', title='The 2013 RPMs after failing the Escape-The-Room Challenge', alt='')
      .row.flush.images
        .6u
          a.image.full.l(href='/images/fulls/work_from_garage.jpg')
            img(src='/images/fulls/work_from_garage.jpg', title='"Work-from-the-Garage Wednesdays"', alt='')
        .6u
          a.image.full.r(href='/images/fulls/tennis.jpg')
            img(src='/images/fulls/tennis.jpg', title='Building a Popup Tennis Court in Hacker Square', alt='')

      p 
        | Our mission is to create a tight-knit network of PMs who build products that positively impact the world. The program has three goals:
      
      p
        h2 Impact
        | RPMs work on high priority products that impact the lives of the over 1.2 billion people who use Facebook. During each rotation, RPMs have full ownership of a project. They create a product vision, set roadmaps, prioritize goals and analyze data to measure success.  RPMs collaborate with engineers, designers and data analysts to build world-class social tools.
        br
        br
        h2 Growth  
        | Learning and development is key to the program. On each project rotation, RPMs work closely with veteran PM mentors to develop the skills needed to become successful Product Managers and leaders at Facebook. RPMs also learn from each other, acting as sounding boards to pitch and test out new ideas.
        br
        br
        h2 Community  
        | RPMs form a tight, cohesive community within Facebook. They come from a variety of backgrounds and industries, which creates unique opportunities for learning and collaboration. In addition to a strong professional community, RPMs also become great friends. They hang out, grab lunch and some RPMs even live together.
        br
        br

        input.button(type='submit', value='Apply Now', onclick="window.open('https://www.facebook.com/careers/teams/product-management', '_blank');")

  //
     Preface 
  section#two.main.style2.right.dark.fullscreen
    .content.box.interviewPage
      header
        h2 Who we are
      p
        | As Facebook RPMs, we build products that impact the lives of over 1.2 billion people. We're all passionate about connecting the world around us and improving the way people communicate.  We come from a diverse set of backgrounds and experiences- scroll down to meet a few RPMs who have done some pretty amazing things...

    a.button.style2.down.anchored(href='#three') Next
  //
     Ashley
  section#three.main.style2.left.dark.fullscreen
    .content.box.interviewPage
      header
        h2 From Consulting to Connecting  
      p
        i "I studied Computer Science and Business at the University of Pennsylvania. After that, I worked in consulting with Bain & Company in New York.
      p
        i One project I’ve worked on at Facebook that I am incredibly passionate about is internet.org. About 80% of the world’s population lives within range of a 2G or 3G connection, yet over 4 billion people remain unconnected to the internet. As an RPM, I’ve gotten to partner with carriers to find economically sustainable ways to make mobile data more affordable and accessible for the world."
        .quote  -Ashley Yuki, 2013 RPM  
    a.button.style2.down.anchored(href='#four') Next

    //
     Andrew
  section#four.main.style2.right.dark.fullscreen
    .content.box.interviewPage
      header
        h2 Zuck Reviews in Spandex?
        h2 You betcha. 
      p
        i "Fun fact: in my first product review with Mark Zuckerberg (during my 7th week at Facebook), I presented wearing a shirt & tie … and spandex bike shorts. I lost a bet to one of my RPM managers, but Mark thought the outfit was great. The review went well!
      p
        i Jokes aside, I grew up in Canada and studied at the University of Waterloo. After a few great internship experiences, I decided to move to Silicon Valley. As a PM at Facebook, I’ve learned how to feel when a team is operating well and working towards a vision that everyone is bought into."
        br
        .quote  -Andrew Song, 2012 RPM 
    a.button.style2.down.anchored(href='#five') Next

    //
     Henry
  section#five.main.style2.left.dark.fullscreen
    .content.box.interviewPage
      header
        h2 From Teacher to Tech
      p
        i "I studied English and Finance at the University of Illinois, and moved to Oakland to teach high school mathematics with Teach for America. After a few years in the classroom, I joined an agricultural robotics startup in Mountain View to work on a machine learning project.
      p
        i PMs at Facebook come from a variety of disciplines, places, and world views. My favorite part of being an RPM is getting to see this diversity in action when people think out during brainstorm sessions — there’s so much creativity and energy!"
        br
        .quote  -Henry Soong, 2014 RPM 
    a.button.style2.down.anchored(href='#six') Next
  //
     Garima
  section#six.main.style2.right.dark.fullscreen
    .content.box.interviewPage
      header
        h2 Mobile Messaging Maven        
      p
        i "I grew up and studied IT and CS in India. After working in New Delhi for 2 years, I went to Carnegie Mellon to study Software Management. I joined Ibibo after CMU and worked as a PM, building mobile gaming and messaging products.  
      p
        i One of my projects as an RPM is Stickers for Facebook Messenger. Stickers are lighthearted and a delightful way to express yourself — it's great to see how emoji change the way people communicate!"
        .quote  -Garima Sinha, 2013 RPM  
    a.button.style2.down.anchored(href='#seven') Next

  //
     Dwight
  section#seven.main.style2.left.dark.fullscreen
    .content.box.interviewPage
      header
        h2 Bollywood Extra, Startup Founder, Facebook PM (yes, we’re serious) 
      p
        i "Before Facebook, I cofounded a used car search engine startup. We joined Y-Combinator, raised funding and captured 2% of the market before Facebook acquired us.
      p
        i I had no idea what I wanted to do after graduating, so I bought a one way ticket to India to become a reporter. In India, I ended up in a Bollywood movie, marched with Tibetan monks, photographed the Nepalese revolution, and worked with a Spanish film crew in Mongolia – but it turned out that I’m a really mediocre reporter."  
        .quote  -Dwight Crow, 2012 RPM   
    a.button.style2.down.anchored(href='#work') Next

  //
     Work 
  section#work.main.style3.primary
    .content.container
      header 
        h2 FAQ
    .content.container.small(style="text-align: left;")
      ul
        li.FAQuestion Q: What are some of the projects RPMs have worked on?
        li(style="color: gray;") We've worked on a wide variety of products! Here is a short list of a few examples: 
        ul.default(style="color: gray;")
          li(style="margin-left: 20px;") Driving growth and engagement in the Pages Manager mobile app
          li(style="margin-left: 20px;") Redesigning Events on mobile and web
          li(style="margin-left: 20px;") Improving the photos experience on mobile web to increase photo uploads
          li(style="margin-left: 20px;") Launching new ad formats optimized for low end mobile devices
          li(style="margin-left: 20px;") Optimizing notifications
          li(style="margin-left: 20px;") VOIP in messenger
          li(style="margin-left: 20px;") Launching and analyzing variations of the website News Feed redesign 
          li(style="margin-left: 20px;") Driving Instagram growth and adoption
        li.FAQuestion Q: How long is the RPM program?
        li(style="color: gray;") At Facebook, we move fast! The program lasts one year. You'll work on 3 different rotations, each for approximately 4 months.
        br
        li.FAQuestion Q: What kinds of things do RPMs do together?
        li(style="color: gray;") RPMs regularly hang out around the Bay Area, they organize guest-speakers to talk at Facebook, and travel abroad together to research new technology trends around the world.
        br
        li.FAQuestion Q: How is product management at Facebook different from product management at other companies? 
        li(style="color: gray;") We strive to make the Rotational PM experience as unique and individually tailored for each participant as possible. A major part of what we’re hoping the RPMs take out of their experience is impact. In just 12-18 months our 3 rotation program provides a ton of experience, variety and collaboration in a relatively short amount of time. Facebook moves fast, and this program is no exception. Because your input is important when evaluating proper rotational project matching, you’ll work closely with your manager to give input and provide preferences on what you are interested in working on. We want PMs working on products they are passionate about. 
        br
        li.FAQuestion Q: What does a "day in the life" of a Facebook PM look like? What will people expect from you?  
        li(style="color: gray; font-style: italic;") "There really is no 'typical day'- your days will vary depending what part of a product's lifecycle you're in. That being said, a typical day for me might consist of grabbing some breakfast while catching up on emails, checking in on metrics, and making sure I’ve got everything I need prepped for any meetings I might have. To kick the week off, we have Instagram team product planning meetings, where we report out on our metrics, identify our three key goals for the week, highlight any blockers, and discuss shared resources. A number of questions usually arise from these meetings, so I’ll spend the half hour afterward following up with people individually. 
        br 
        li(style="color: gray; font-style: italic;") The next part of my day consists of many walking 1:1’s. Facebook’s campus is almost like an enclosed town square, and I tend to try to have meetings walking up and down the length of the campus to get some exercise in. I’ll have meetings with the tech leads, designer, and analysts on the team to catch up and plan out our work for the week. 
        br
        li(style="color: gray; font-style: italic;") Then I may have to run to a design review, where the team meets with Kevin Systrom and Mike Krieger to go over our plans for a new feature, get their feedback and requested changes, and figure out next steps. After this, there’s usually another flurry of individual follow-ups either in person or over email. In between I may try to squeeze in a visit to Facebook’s sweet stop to grab a cup of ice cream. :) 
        br
        li(style="color: gray; font-style: italic;") By 6:30 or so I’ll grab dinner with friends on-campus, head to my desk to shoot off a few more emails, and catch the shuttle back to the city with friends.The RPMs have a shared thread we ping around dinner time, so there are always people to have dinner with!" 
        li(style="color: gray; text-align: right;") - Margaret-Ann Seger, 2013 RPM
        li.FAQuestion Q: What happens after the program? What's the transition from RPM to PM like? 
        li(style="color: gray;") The intent of our program is to provide resources to help you develop into a well-rounded, versatile and innovative product thinker. We invest a great deal into each one of our RPMs with the intent for them to continue making tremendous impact at Facebook. Once you have successfully completed the RPM program, you will begin researching new projects and meeting with potential teams to determine your first role outside of the program. 


      //
                     Lightbox Gallery
                     
                     Powered by poptrox. Full docs here: https://github.com/n33/jquery.poptrox
                  
   //
     Contact 
  section#contact.main.style3.secondary
    .content.container(style="width: 65%")
      header
        h2 Excited? Join us!  
        p 
         | There isn't a specific mold or set of skills we're looking for, but rather the potential to become a great product leader. There are three qualities we're looking for in Product Managers at Facebook:
    
       p
         h2 Passion
         | RPMs are people who are passionate about developing well-crafted products that add value to people's lives and bring delight to their everyday experiences.
        
         br
         br
        
         h2 Action  
         | RPMs have strong analytical skills along with the ability to break large, messy problems into discrete pieces. Once the problem has been broken down, they need to prioritize the pieces and deliver on them.
         br
         br
        
         h2 Leadership  
         | RPMs inspire and motivate their team to hit goals and ship impactful products. A Product Manager is like the conductor of an orchestra. While they do not design or build, RPMs carry the vision of a product and communicate that vision across cross-functional teams. They shouldn't be afraid to take risks and move fast!
         br
         br
         input.button(type='submit', value='Apply Now', onclick="window.open('https://www.facebook.com/careers/teams/product-management', '_blank');", style="margin-bottom: 50px")

  //
     Footer 
  footer#footer
    //
                   Social Icons
                   
                   Use anything from here: http://fortawesome.github.io/Font-Awesome/cheatsheet/)
              
    ul.actions
      li
        a.fa.solo.fa-facebook-square(href='https://www.facebook.com/fbrpms', target="_blank")
          span Facebook
      li
        a.fa.solo.fa-instagram(href='http://instagram.com/fbrpms', target= "_blank")
          span Instagram
      li
        a.fa.solo.fa-twitter(href='https://twitter.com/fbrpms', target="_blank")
          span Twitter
    //
       Menu 
    ul.menu
      li © Facebook RPM Program 
      li
        | Design: 
        a(href='http://html5up.net/', target="_blank") HTML5 UP
